/*General*/
.d_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Content*/
.sign-in-face-cup {
    width: 100%;
    min-height: 100vh;
    background-color: #f6f6f6;
}

.content {
    position: absolute;
    top: 42px;
    right: 42px;
    bottom: 42px;
    left: 42px;
    background-color: #ffffff;
    flex-direction: row;
    justify-content: center;
}

.register-image {
    width: 627px;
    height: 584px;
    background-image: url("../img/cover.png");

}

.register-form {
    width: 627px;
    height: 584px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.title {
    border-bottom: 1px solid #9b9b9b;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #06102e;
}

.register-form-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.text {
    font-family: Vazir;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #6c6c76;
}

.bold {
    color: #06102e;
}

.register-btn {
    width: 330px;
    height: 48px;
    margin: 0 auto;
    padding: 4px 111px 5px 130px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-image: linear-gradient(260deg, #16255f, #8f48ff);
    transition: 0.3s;
}

.register-btn:hover {
    background-image: linear-gradient(#16255f, #16255f);
}

.register-btn span {
    width: 72px;
    height: 39px;
    font-family: Vazir;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.register-input {
    margin: 35px 0;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #6c6c76;
}

.register-input span {
    font-family: Vazir;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #6c6c76;
    /*padding: 10px;*/
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.register-input input {
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
}

.register-input input:focus {
    border-bottom: 1px solid #0068ff;
}

.register-input img {
    position: absolute;
    left: 0;
}

.register-input input:focus + span, input:not(:placeholder-shown) + span {
    opacity: 1;
    color: #0068ff;
    transform: scale(0.75) translateY(-100%) translateX(10px);
}

/* For IE Browsers*/
.register-input input:focus + span, input:not(:-ms-input-placeholder) + span {
    opacity: 1;
    color: #0068ff;
    transform: scale(0.75) translateY(-100%) translateX(10px);
}

.disc {
    font-family: Vazir;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
}

#en_name_disc {
    margin-top: -30px;
    display: none;

    color: #16255f;
}

#phone_disc {
    margin-top: -30px;
    display: none;
    color: #6c6c76;
}

.error-messages {
    margin-top: 20px;
    position: relative;
    right: 0;
}