appdirs==1.4.4
asgiref==3.3.4
attrs==21.2.0
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
defusedxml==0.7.1
Django==3.2.3
djangogrpcframework==0.2
djangorestframework==3.12.4
grpcio==1.37.1
grpcio-tools==1.37.1
idna==2.10
isodate==0.6.0
lxml==4.6.3
protobuf==3.17.0
psycopg2==2.8.6
pytz==2021.1
requests==2.25.1
requests-file==1.5.1
requests-toolbelt==0.9.1
six==1.16.0
sqlparse==0.4.1
urllib3==1.26.4
zeep==4.0.0
