{% extends 'base.html' %} {% load static %} {% block script %} {% load static %}
<script src=""></script>
{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}" />
{% endblock %} {% block title %} {% endblock title %} {% block body %}

<!-- <div flex>
  <div>
    img
  </div>
  <div form>
    <div>
      <span>TEXT</span>
    </div>
    <div>
      <form>
        <div>
          input
        </div>
        <div>
          input
        </div>
        <div>
          <button></button>
        </div>
        <div>
          span
          span
        </div>
      </form>
    </div>
  </div>
</div> -->

<div class="log-in-face-cup">
  <div class="Rectangle-1">
    <div class="cover-background">
      <div class="main">
        <h2 class="lbl1">ورود</h2>
        <div class="Line-12"></div>

        <form action="{% url 'accounts:login' %}" method="POST">
          {% csrf_token %}

          <!-- <div class="form-group">
            <input
              type="text"
              style="border: none"
              name="en_name"
              id="en_name"
              class="form-control"
              dir="rtl"
              placeholder="نام کاربری ..."
            />
          </div> -->
          <div class="floating">
            <input
              name="en_name"
              id="en_name"
              class="floating__input"
              type="text"
              placeholder="نام کاربری (نام لاتین تیم)"
            />
            <label
              for="input__username"
              class="floating__label"
              data-content="نام کاربری (نام لاتین تیم)  "
            >
              <span class="hidden--visually"></span
            ></label>
            <div class="Line-2"></div>
          </div>

          <br />

          <div class="checkbox-wrapper">
            <div>
              <span class="lbl4">مرا بخاطر بسپار </span>
            </div>
            <div>
              <input class="myCheckbox1" type="checkbox" name="remember" />
            </div>
          </div>

          <button class="Rectangle-2" type="submit">
            <span class="lbl5"> وارد شوید </span>
          </button>
        </form>

        <div style="text-align: center">
          <!-- <span class="lbl6">رمز عبور خود را فراموش کرده‌اید؟ </span> -->
          <span class="lbl7"> هنوز حساب کاربری ندارید؟ </span>
          <a class="lineshow" href="{% url 'accounts:register' %}" class="lbl8"
            >ثبت نام کن
          </a>
        </div>
      </div>

      <img
        src="/static/accounts/img/cover.png"
        style="padding: 0px 25px 25px 25px; margin: 0 0 0 150px"
      />
    </div>
  </div>
</div>

{% endblock body %}
