{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>ورود</title>
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body dir="rtl">
<div class="login-face-cup d_flex">
    <div class="d_flex content">
        <div class="register-image"></div>
        <div class="login-form">
            <h2 class="title">ورود</h2>
            <div class="line"></div>
            <form action="{% url 'accounts:login' %}" method="POST" class="login-form">
                {% csrf_token %}
                {% if messages %}
                    {% for msg in messages %}
                        <div class="info otp-warning" id="hideMeWarning">
                            {{ msg }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="login-input">
                    <input type="text" name="en_name" maxlength="23" required="" id="id_en_name" placeholder=" "
                           autocomplete="off">
                    <span>نام کاربری (نام لاتین تیم)</span>
                    <img id="en_name_img" src="{% static 'accounts/img/email icon.png' %}" alt="">
                </div>

                {#                <input type="checkbox" name="remember_me" id="id_remember_me">#}
                {#                <span>مرا بخاطر بسپار</span>#}

                <button type="submit" class="login-btn">
                    <span>وارد شوید</span>
                </button>
            </form>
            <span>هنوز حساب کاربری ندارید؟ <a href="{% url 'accounts:register' %}">ثبت نام کن</a></span>
        </div>

    </div>

</div>
<script src="{% static 'accounts/js/jquery.min.js' %}"></script>
<script>
    $(function () {

        $("#id_en_name").focus(function () {
            $("#en_name_img").hide();

        }).blur(function () {
            $("#en_name_img").show();
        });

    });
</script>
</body>
</html>