{% extends 'base.html' %} {% load static %} {% block script %}
<script src=""></script>
{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/register.css' %}" />
{% endblock %} {% block title %} {% endblock title %} {% block body %}

<div class="sign-in-face-cup">
  <div class="Rectangle-1">
    <div class="grid-container" style="margin: 36px 36px">
      <div class="pic">
        <img src="/static/accounts/img/cover.png" class="cover" />
      </div>
      <div class="main">
        <h2 class="lbl1">ثبت نام</h2>
        <div class="Line-12"></div>

        <form action="{% url 'accounts:register' %}" method="POST">
          {% csrf_token %}
          <div class="floating">
            <input
              name="en_name"
              id="en_name"
              class="floating__input"
              type="text"
              placeholder="نام کاربری (نام لاتین تیم)"
            />
            <label
              for="input__username"
              class="floating__label"
              data-content="  نام کاربری (نام لاتین تیم)  "
            >
              <span class="hidden--visually"></span
            ></label>
            <div class="Line-2"></div>
          </div>

          <div class="floating">
            <input
              name="fa_name"
              id="fa_name"
              class="floating__input text-right"
              type="text"
              placeholder="نام تیم (فارسی)"
            />
            <label class="floating__label" data-content="نام تیم (فارسی)  ">
              <span class="hidden--visually"></span
            ></label>
            <div class="Line-2"></div>
          </div>

          <div class="floating">
            <input
              name="phone"
              id="phone"
              class="floating__input"
              type="text"
              placeholder="شماره موبایل"
            />
            <label
              for="input__username"
              class="floating__label"
              data-content="شماره موبایل "
            >
              <span class="hidden--visually"></span
            ></label>
            <div class="Line-2"></div>
          </div>

          <div id="register-link" class="">
            <span class="lbl5"
              >شما با ثبت نام در فیس‌کاپ،
              <span class="lbl6">شرایط استفاده از خدمات</span> را
              می‌پذیرید</span
            >

            <button type="submit" class="Rectangle-2">
              <span class="lbl7"> ثبت نام</span>
            </button>
            <div id="register-link" class="">
              <span class="lbl8"></span>
              <div>
                قبلاً ثبت نام کرده‌اید؟
                <a
                  class="lineshow"
                  href="{% url 'accounts:login' %}"
                  class="lbl9"
                  >وارد شوید</a
                >
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
