{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>فعال سازی</title>
    <link rel="stylesheet" href="{% static 'accounts/css/otp.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body dir="rtl">
<div class="login-face-cup d_flex">
    <div class="d_flex content">
        <div class="otp-form">
            <h2 class="title">رمز یکبار مصرف</h2>


            <form action="" class="otp-form" method="POST">
                <div class="otp_message">
                    {% if messages %}
                        {% for msg in messages %}
                            {% if msg.tags == 'danger error' %}
                                <div class="info otp-error" id="hideMeError">
                                    کد وارد شده صحیح نیست
                                </div>
                            {% elif msg.tags == 'warning error' %}
                                <div class="info otp-warning" id="hideMeWarning">
                                    کد منقضی شده است
                                </div>
                            {% elif msg.level_tag == 'success' %}
                                <div class="info otp-info" id="hideMeInfo">
                                    رمز عبور یکبار مصرف به شماره <span class="phone-number">{{ phone_number }}</span>
                                    ارسال
                                    شد
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                {% csrf_token %}
                <div class="otp-input">
                    <input type="text" name="code" maxlength="4" required="" id="id_code" placeholder=" "
                           autocomplete="off">
                    <span>رمز عبور یکبار مصرف</span>
                    <img id="clock_img" src="{% static 'accounts/img/lock.png' %}" alt="">
                </div>
                <button type="submit" class="otp-btn">
                    <span> ورود</span>
                </button>

            </form>
            <div>
                <a href="{% url 'accounts:duplicate' pk %}" class="link" style="margin-left: 15px">ارسال مجدد کد</a>
            </div>
        </div>
        <div class="register-image"></div>
    </div>
</div>
<script src="{% static 'accounts/js/jquery.min.js' %}"></script>
<script>
    $(function () {

        $("#id_code").focus(function () {
            $("#clock_img").hide();

        }).blur(function () {
            $("#clock_img").show();
        });

    });
</script>
</body>
</html>