{% extends 'base.html'%}
{% block title %}{{team.fa_name}}{% endblock title %}
{% block body %}
    <h1>teamprofile</h1>
    <hr>
    <p>مشخصات تیم</p>
        {{team.en_name}}<br>
        {{team.fa_name}}<br>
        {{team.phone}}<br>
        <hr>
        <p>اعضای تیم</p>
        {% if member != Null %}
            {% for m in member%}
            {{m.first_name}}
            {{m.last_name}}
            {% endfor %}
        {% endif %}
            <br>

        <br>

        <a href="{% url 'update' %}">بروزرسانی </a>&nbsp;&nbsp;
        <a href="{% url 'change' %}">تغییر پسورد </a>

    </form>
{% endblock body %}