{% extends 'base.html' %} {% load static %} {% block css %} {% endblock css %}
{% block title %} {% endblock title %} {% block body %}
<h4 style="text-align: center">فرم اضافه کردن ادمین</h4>
<br />
<form
  method="POST"
  action="{% url 'accounts:add_admin' %}"
  enctype="multipart/form-data"
>
  {% csrf_token %} {{ admin_form }}
  <button type="submit" class="btn btn-outline-warning btn-long cart">
    اضافه به اعضا
  </button>
</form>
<hr />
<h4 style="text-align: center">فرم اضافه کردن اعضا</h4>
<br />
<form
  method="POST"
  action="{% url 'accounts:add' %}"
  enctype="multipart/form-data"
>
  {% csrf_token %} {{ member_form }}
  <button type="submit" class="btn btn-outline-warning btn-long cart">
    اضافه به اعضا
  </button>
</form>
<hr />

<h4 style="text-align: center">حذف اعضا</h4>
{% for m in member %} {{ m.first_name }} {{ m.last_name }}
<a href="{% url 'accounts:remove' m.id %}"><i class="fa fa-trash"></i></a>
<br />
{% endfor %}

<hr />

<form
  class=""
  action="/accounts/update/"
  method="POST"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <h4 style="text-align: center">ویرایش مشخصات تیم</h4>
  {{ team_form.as_p }}<br />

  <button type="submit" class="btn btn-info btn-md" style="width: 300px">
    بروزرسانی
  </button>
</form>

{% endblock body %}
