html,
body {
  padding: 0;
  margin: 0;
  /*box-sizing: border-box;*/
  font-family: "Vazir";
}
* {
  box-sizing: border-box;
  font-family: "Vazir";
}
a {
  text-decoration: none;
}
@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir-Medium.woff");
}
